In [11]:
# Encoding ---> Transfrom our categorical data into Numerical data

# Because our machine can only understand math not the singke character

In [13]:
# (1). EabelEncoding 

# Apply on single column ---> column (sun1, sun2....subn) ---> own(0,1,2)

In [15]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv("covid_toy.csv")

In [19]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [22]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [26]:
from sklearn.impute import SimpleImputer

In [28]:
si = SimpleImputer()

In [59]:
df['fever'] = si.fit_transform(df[['fever']])

In [32]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [34]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [36]:
from sklearn.preprocessing import LabelEncoder

In [38]:
lb = LabelEncoder()

In [61]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [63]:
df.head(4)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0
3   31       0   98.0      0     2          0

In [65]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [67]:
from sklearn.model_selection import train_test_split

In [69]:
x_train, x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [71]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.41  100.98   0.40   1.30
std    24.47    0.50    1.93   0.49   1.12
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    0.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [53]:
from sklearn.preprocessing import MinMaxScaler

In [89]:
mn = MinMaxScaler()

In [91]:
x_train_mn = mn.fit_transform(x_train)

In [93]:
x_train_new = pd.DataFrame(x_train_mn , columns  = x_train.columns)

In [95]:
np.round(x_train_new.describe() , 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.41   0.50   0.40   0.43
std     0.31    0.50   0.32   0.49   0.37
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00