In [137]:
# normalization ----> min_value = 0 , max_value = 1

In [139]:
import numpy as np
import pandas as pd

In [141]:
df = pd.read_csv("covid_toy.csv")

In [143]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [145]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [147]:
from sklearn.impute import SimpleImputer

In [149]:
si = SimpleImputer()

In [151]:
df['fever'] = si.fit_transform(df[['fever']])

In [153]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [155]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [157]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [182]:
df['gender'] = df['gender'].map({'Male':0 , 'Female':1})
df['cough'] = df['cough'].map({'Mild':0 , 'Strong':1})
df['city'] = df['city'].map({'Kolkata':0 , 'Bangalore':1 , 'Delhi':2 , 'Mumbai':3 })
df['has_covid'] = df['has_covid'].map({'Yes':1 , 'No':0})
df.head()

   age  gender  fever  cough  city  has_covid
0   60     NaN  103.0    NaN   NaN        NaN
1   27     NaN  100.0    NaN   NaN        NaN
2   42     NaN  101.0    NaN   NaN        NaN
3   31     NaN   98.0    NaN   NaN        NaN
4   65     NaN  101.0    NaN   NaN        NaN

In [161]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [163]:
from sklearn.model_selection import train_test_split

In [165]:
x_train , x_test , y_train , y_test = train_test_split(x,y,
                                                      test_size = 0.2,
                                                      random_state = 42)

In [167]:
np.round(x_train.describe() , 2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.59  100.98   0.40   1.26
std    24.47    0.50    1.93   0.49   1.06
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    1.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [169]:
from sklearn.preprocessing import MinMaxScaler

In [171]:
mn = MinMaxScaler()

In [173]:
x_train_mn = mn.fit_transform(x_train)

In [190]:
new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [194]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.59   0.50   0.40   0.42
std     0.31    0.50   0.32   0.49   0.35
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    1.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00